[alias]
  br = branch
  co = checkout
  cm = commit -m
  cma = commit --amend
  dfc = diff --cached
  lg = log --oneline --graph --decorate
  st = status
[color]
  ui = auto
[core]
  editor = vim
  pager = less -R
[diff]
  compactionHeuristic = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[merge]
  ff = false
[pull]
  ff = only
[rebase]
  autosquash = true
  autostash = true
[user]
  name = Ryota Kameoka
  email = kameoka.ryota@gmail.com
[rerere]
  enabled = true
